spring:
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      base-url: ${OPENAI_BASE_URL}
      chat:
        options:
          model: ${OPENAI_MODEL}
    vectorstore:
      redis:
        initialize-schema: true         # 是否初始化所需的模式
        index-name: lee-vectorstore     # 用于存储向量的索引名称
        prefix: 'embedding:'             # Redis 键的前缀
  data:
    redis:
      host: 127.0.0.1
      port: 9379
      password: 123456
  profiles:
    active: dev

internet:
  websearch:
    searxng:
      url: http://localhost:6080/search
      counts: 10